* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    margin-block: .5em;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #7979798e;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #C5B085;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    transition: .4s;
}

.btn:hover {
    transform: scale(1.1);
    background: #c5b08591;
    border: #fff 2px solid;
    color: #766163;
    box-shadow: -0.5rem 0.5rem #766163;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 40px;
    color: #766163;
    font-weight: 100;
    letter-spacing: 5px;
}

header .logo span {
    color: #C5B085;
}

header .navbar a {
    font-size: 22px;
    padding: 0 1.5rem;
    color: #766163;
    letter-spacing: 1px;
}

header .navbar a:hover {
    color: #DEBFC4;
    font-weight: bold;
    text-shadow: 1px 1px 15px #C5B085;
    
}

header .icons a {
    font-size: 28px;
    color: #766163;
    margin-left: 1.5rem;
    padding: 10px;
    transition: .4s;
}

header .icons a:hover {
    color: #DEBFC4;
    transform: scale(1.2);
}

header #toggler {
    display: none;
}

header .bx-menu {
    font-size: 3rem;
    cursor: pointer;
    color: #766163;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    border: .1rem solid #DEBFC4;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./images/back.jpg);
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
    margin-left: 35px;
}

.home .content h3 {
    font-size: 7rem;
    color: #766163;
    letter-spacing: 15px;
}

.home .content span {
    font-size: 3.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
    letter-spacing: 2px;
}

.home .content p {
    font-size: 2rem;
    color: #766163;
    padding: 1rem 0;
    line-height: 1.5;
    letter-spacing: 1px;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #766163;
    padding: 1rem;
    margin: 2rem 0;
    background: #DEBFC4;
    letter-spacing: 5px;
}

.heading span {
    color: #fff;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #F1E8E1;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: #766163;
    background: #F1E8E1;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
    padding-left: 2rem;
}

.about .row .content h3 {
    font-size: 4rem;
    color: #766163;
    text-transform: capitalize;
}

.about .row .content p {
    font-size: 2rem;
    color: #DEBFC4;
    padding: .5rem;
    padding-top: 1rem;
    line-height: 1.5;
    text-transform: none;
    text-shadow: -1px 1px #c09ea4;
}

.about .row .content .btn {
    margin-top: 3rem;
}

.about .row .content .btn:hover {
    background: #c5b08591;
}

.icons-container {
    background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background-color: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

i {
    font-size: 75px;
    padding-right: 15px;
}

.icons-container .icons h3 {
    color: #766163;
    padding-bottom: .5rem;
    font-size: 2.1rem;
    letter-spacing: 2px;
    text-shadow: .5px .5px #766163;
}

.icons-container .icons span {
    color: #DEBFC4;
    text-shadow: -1px 1px #c09ea4;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.products .box-container .box .discount {
    position: absolute;
    top: 2.5rem; left: 0;
    padding: .7rem 1rem;
    padding-left: 5rem;
    margin-right: 3rem;
    font-size: 2.5rem;
    color: #ffffffce;
    text-shadow: -1px 1px #766163;
    font-weight: bolder;
    background: rgba(97, 97, 97, 0.603);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 50rem;
    width: 40rem;
    transition: .4s;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

.products .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #DEBFC4;
    color: #766163;
}

.products .box-container .box .image .icons .bx-cart {
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover {
    background: #F1E8E1;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #766163;
    text-transform: capitalize;
}

.products .box-container .box .content .price {
    font-size: 2.5rem;
    color: #C5B085;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content span {
    font-size: 1.5rem;
    color: rgba(44, 44, 44, 0.705);
    font-weight: lighter;
    padding-top: 1rem;
    text-decoration: line-through;
}

.reviews .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reviews .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.reviews .box-container .box .bxs-quote-alt-right {
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #8f8f8f;
}

.reviews .box-container .box .stars i {
    color: #DEBFC4;
    font-size: 2rem;
}

.reviews .box-container .box p {
    color: #766163;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.reviews .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.reviews .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.reviews .box-container .box .user h3 {
    font-size: 2rem;
    color: #766163;
}

.reviews .box-container .box .user span {
    font-size: 1.5rem;
    color: #8f8f8f;
    text-transform: capitalize;
}

.contact .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #7979798e;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus {
    border-color: #DEBFC4;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #766163;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: #DEBFC4;
    padding: 1rem 0;
    text-shadow: -1px 1px #766163;
}

.footer .box-container .box a:hover {
    color: #C5B085;
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #8f8f8f;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: #C5B085;
}


































/* media queries */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home {
        background-position: left;
    }
}

@media (max-width:768px) {
    header .bx-menu {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}